*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    
}
body{
  background: url("./imgs/WallpaperDog-997118.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
main{
  display: flex;
}
nav{
    background: url("./imgs/WallpaperDog-997118.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
ul{
  width: 50%;
  margin: auto;
  text-align: center;
}
li{
    color: white;
    display: inline-block;
    cursor: pointer;
    padding: 30px;
   
}
li:hover{
    background-color: rgb(33, 86, 164);
}
h1{
    color: white;
    text-align: center;
    margin: auto;
    
}
p{
  color: white;
  text-align: center;
  margin: auto;
  font-size:30px ;
  font-weight: 800;
 
}
button{
  text-shadow: 2px 2px 8px rgb(0, 47, 255);
  border: none;
  color: white;
  margin-right: 500px;
  margin-top:100px ;
  font-size: 30px;
  padding: 10px;
  border-radius: 50px;
  background-color:blue ;

  cursor: pointer;
}
img{
  width: 800px;
  height: 800px;
}
.imagine{
  padding-right:10px ;
}
.intro{
  
  padding-top:200px;
  text-align: center;

}
.title{
  text-shadow: 2px 2px 8px #ffe600;
  font-size: 40px;
  color: black;
}
.info-text{
  font-size: 30px;
  padding-top: 30px;
}